{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2
}
